body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.game-container {
    display: flex;
    justify-content: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
}

.board-button {
    width: 50px;
    height: 50px;
    background-color: black ;
    border: 1px solid #ccc;
}

.board-button.on {
    background-color: yellow;
}

.difficulty {
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 20px;
    
}

.difficulty-button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: grey;
}

#start-button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    padding: 10px;
    margin-top: 40px;
    margin-left: 20px;
}

.counters {
    margin-right: 20px;
}
