body {
    font-family: Arial, sans-serif;
    background-color: #FFD697;
    color: #1E1E1E;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10rem;
}

.board-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(6, 70px);
}

.board-button {
    width: 70px;
    height: 70px;
    background-color: #723E4E ;
    border: 1px solid #FFD697;
    border-radius: 10px;
}

.board-button.on {
    background-color: #FF8DED;
}

.difficulty {
    padding: 5px;
    margin-left: 20px;
    margin-top: 40px;
    
}

.difficulty p {
    font-weight: bold;
    font-size: 24px;
}

.difficulty-button {
    padding: 16px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #C48953;
    font-weight: bold;
    font-size: 16px;
}

#start-button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #C48953;
    padding: 16px;
    margin-top: 40px;
    margin-left: 24px;
    font-weight: bold;
    font-size: 16px;
}

.counters {
    margin-right: 20px;
    margin-top: 80px;
    font-size: 24px;
}


.counters div {
    font-weight: bold;
}
